.P1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #E2E2E2; }
.Verdana {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; font-weight: bold; text-align: center; }
.BoutonFondGris {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #CCCCCC; }
.LigneFondJaune {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #FFFFCC; }
.LigneSelection {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #FFCC99; }
.Titre {font-family: Georgia, 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; color: #CC0033; text-align: left; }
.Image {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #CC99CC; }
.Rouge {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #FF0033; }
.Bleu {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #0066CC; }
.Vert {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #009900; }
.Jaune {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #FFFF66; }
.Blanc {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #FFFFFF; }
.Gris {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-color: #CCCCCC; }
.VsuImage {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; background-attachment: fixed; background-position-x: left; background-position-y: top; }
.Daimler {font-family: Arial, Helvetica, sans-serif; font-size: x-small; }
.Libelle {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.000000pt; color: #FFFFFF; }
