.Titre-Couleur{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:7pt;font-weight:bold;text-align:center;}
.Titre{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16pt;font-weight:bold;text-align:center;}
.Titre-Couleur{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:7pt;font-weight:bold;text-align:center;}
.Titre{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:16pt;font-weight:bold;text-align:center;}
.h-0{height:0px;}
.d-0{display:none;}
table{border-collapse:collapse;border-spacing:0}td{padding:0}tr{vertical-align:top}
form{margin:0}
.DivCellRel{display:inline;float:left;}
